body{
    margin-right: 0px;
    margin-top: 0px;
    overflow: hidden;
    background-image: url(https://i.pinimg.com/originals/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg);
    background-repeat: ;
    margin-left: 0px;
}

#form{
  padding: 50px;
  margin-top: 250px;
  opacity: .5;
}

#btn{
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

#user{
  border-radius: 5px;
  padding: 10px;
}

#pass{
  border-radius: 5px;
  padding: 10px;
}

.form{
  background-color: white;
  border-radius: 10px;
  width: 270PX;
  border: solid 1PX black;
  padding: 30px;
  margin-top: 50px;
}



.fa {
    padding: 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: aliceblue;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

body {
  width: 100%;
  font-family: 'Kalnia', serif;
}

#header {
    background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.left{
  float: left;
}


.right{
  float: left;
}

.modal-container{
  padding-left: 40%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

.footer-clean {
padding:50px 0;
background-color:#000000;
color:#ffffff;
}

.footer-clean h3 {
margin-top:0;
margin-bottom:12px;
font-weight:bold;
font-size:16px;
}

.footer-clean ul {
padding:0;
list-style:none;
line-height:1.6;
font-size:14px;
margin-bottom:0;
}

.footer-clean ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.footer-clean ul a:hover {
opacity:1;
}

.footer-clean .item.social {
text-align:right;
}

@media (max-width:767px) {
.footer-clean .item {
  text-align:center;
  padding-bottom:20px;
}
}

@media (max-width: 768px) {
.footer-clean .item.social {
  text-align:center;
}
}

.footer-clean .item.social > a {
font-size:24px;
width:40px;
height:40px;
line-height:40px;
display:inline-block;
text-align:center;
border-radius:50%;
border:1px solid #ccc;
margin-left:10px;
margin-top:22px;
color:inherit;
opacity:0.75;
}

.footer-clean .item.social > a:hover {
opacity:0.9;
}

@media (max-width:991px) {
.footer-clean .item.social > a {
  margin-top:40px;
}
}

@media (max-width:767px) {
.footer-clean .item.social > a {
  margin-top:10px;
}
}

.footer-clean .copyright {
margin-top:14px;
margin-bottom:0;
font-size:13px;
opacity:0.6;
}


.blockquote-footer {
display: block;
font-size: 80%;
color: #6c757d;
}

.blockquote-footer::before {
content: "\2014\00A0";
}

.options{
  z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    width: 1200px;
    height: 1000px;
    gap: 100px;
}

.logout{
    background-color: white ;
    padding: 50px;
    height: 100px;
    padding-right: 200px;
    border-radius: 30px;
    box-shadow:  10px 5px 5px black;
    border: #000000 solid 3px;
}

.signup{
    border: #000000 solid 3px;
    box-shadow: #000000;
    border-radius: 30px;
    height: 100px;
    padding: 50px;
    padding-right: 200px;
    background-color: white ;
    box-shadow:  10px 5px 5px black;
}

.button_one{
    padding: 10px;
    padding-right: 20px;
    border-radius: 6px;
    background-color: #000000;
    color: white;
}